/* Carpet - Floor and Paving Services HTML Template */

@media only screen and (max-width: 1300px){
	
	.page-wrapper{
		overflow:hidden;	
	}
	
}

@media only screen and (max-width: 1140px){
	.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}
	
	.main-header .info-box{
		display:inline-block;
		margin:10px 20px;
		text-align:left;
	}
	
	.header-type-one .nav-outer{
		width:100%;
	}
	
	.main-header .logo-outer{
		padding:20px 0px 0px;
	}
	
	.header-type-one .main-menu .navigation > li{
		padding:10px 0px 20px;
		margin-left:0px;
		margin-right:20px;
	}
	
	.header-type-one .main-menu .navigation > li > a{
		padding-left:0px;	
	}
	
	.main-header .header-upper .upper-right{
		padding-top:20px;
	}
	
	.header-type-one  .header-upper .logo-outer{
		text-align:left;
		margin-bottom:15px;
	}
	
	.header-type-one .search-box-outer{
		top:16px;
	}
	
	.main-header .cart-btn{
		margin-top:-22px;
	}

	.counter-section .title-column h2{
		font-size:45px;
		text-align:left;
	}
	
	.gallery-item .inner-box .overlay-box h3{
		font-size:22px;
	}
	
	.message-section h2{
		font-size:26px;
	}

	.counter-section .counter-column .message{
		font-size:18px;
	}

	.project-section .projects-carousel{
		padding:0px 15px;
	}

	.header-type-one{
		position:relative;
		background-color:white;
	}
	
	.page-title{
		padding-top:100px;
	}
	
	.gallery-single-section .project-info .title-column h3 br{
		display:none;
	}
	
	.gallery-single-section .project-analysis .content-column .inner,
	.map-section .contact-from-column .form-inner,
	.counter-section .counter-column .column-inner{
		padding-left:0px;
	}
	
	.full-width-section-two .outer-box .form-column .form-inner{
		padding-left:15px;
		max-width:100%;
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .outer-box{
		display:none;	
	}
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-right{
		width:100%;	
	}

	.main-menu .navigation > li a{
		background:none;
	}

	.main-footer .upper-box div{
		float:none !important;
	}
	
	.fixed-header .sticky-header,
	.main-header .btn-box{
		display:none;
	}
	
	.main-footer .social-column{
		margin:0px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		top:50px;
	}
	
	.full-width-section-two .outer-box .testimonial-column .content-column{
		padding-bottom:50px;
		max-width:100%;
		padding-left:0px;
		padding-right:0px;
	}
	
	.full-width-section-two .outer-box .form-column .form-inner{
		padding-left:0px;
		padding-right:0px;
	}
	
	.full-width-section-one .content-column,
	.full-width-section-two .outer-box .testimonial-column,
	.full-width-section-two .outer-box .form-column{
		position:relative;
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}
	
	.full-width-section-one .content-column .content-box{
		max-width:100%;
		float:left;
		padding:0px 0px 100px;
	}
	
	.full-width-section-one .image-column .image{
		display:block;
	}
	
	.full-width-section-one .image-column{
		position:relative;
		width:100%;
		background-image:none;
	}
	
	.message-section .column,
	.message-section .btn-column,
	.message-section-two .column,
	.message-section-two .btn-column{
		text-align:center;
	}
	
	.message-section h2,
	.message-section-two h2{
		margin-bottom:20px;
	}
	
	.services-style-one .inner-box .lower-box .arrow-box{
		top:0px;
	}
	
	.services-style-one .inner-box .lower-box .text{
		font-size:16px;
	}
	
	.featured-post-two .inner-box .featured-content{
		padding-left:0px;
	}
	
	.featured-post-two{
		margin-bottom:50px;
	}
	
	.gallery-single-section .project-info .title-column h3{
		border:0px;
	}
	
	.services-section{
		padding-bottom:50px;
	}
	
	.main-header .info-box{
		display:inline-block;
		margin:10px 20px;
		float:none;
		text-align:left;
	}
	
}

@media only screen and (max-width: 767px){
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header .btn-outer{
		border: 0 none;
		right: auto;
		text-align: left;
		top: 0;
		width: auto;
		z-index: 14;
	}
	
	.main-header .btn-outer .quote-btn{
		margin-top:8px;	
	}
	
	.header-main-box .nav-outer .search-box-btn{
		top:15px;
		right:60px;
		margin-top:0px;
		z-index:20;
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-left ul li{
		padding-bottom:0px;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li {
		display: inline-block;
		float: none;
	}
	
	.main-header .header-top .social-icon-four li{
		margin-right:-3px;
	}

	.header-upper .logo-outer{
		display: block;
		width: 100%;
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:10px;
		max-width:none;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		top:0px;
		text-align:center;
		margin:0 auto 25px;	
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:left;
		width:100%;
		padding:13px 0px 14px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		top:-4px;
		border:1px solid #d68112;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#d68112;
	}
	
	.header-type-one .navbar-header .navbar-toggle{
		float:right;
		top:0px;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#d68112;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		padding:0px;
		outline:none;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#d68112;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		box-shadow:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 15px !important;
		line-height:22px;
		color:#ffffff;
		background:#d68112;
		text-align:left;
		min-height:0px;
		font-size:14px;
		text-transform:capitalize;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#d68112;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#d68112;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.experts-section .sec-title h2 br,
	.testimonial-section .owl-nav,
	.gallery-item .inner-box .overlay-box h3 a br,
	.price-section .price-title p br{
		display:none !important;	
	}
	
	.main-slider{
		margin-top:0px !important;	
	}
	
	.main-header .top-right .links-nav li{
		margin-left:5px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		top:48px;
		left:0px;
	}
	
	.main-header .outer-box{
		display:block;
		right:-15px;
		z-index:12;
	}
	
	.main-header .search-form .form-group input[type="text"],
	.main-header .search-form .form-group input[type="tel"],
	.main-header .search-form .form-group input[type="email"],
	.main-header .search-form .form-group textarea{
		height:60px;
	}
	
	.main-header .btn-box .contact-btn{
		padding:12px 35px 12px 38px;
	}
	
	.main-header .btn-box{
		display:block;
		margin-top:0px;
	}
	
	.header-type-one .header-top .top-left ul li{
		padding:6px 0px;
	}
	
	.header-type-one .main-menu .navigation > li{
		padding:0px;
	}
	
	.header-type-one .btn-box{
		top:0px;
		left: 0px;
	    right: auto;
		margin-top:8px;
	}
	
	.header-type-one .header-top .donation-btn{
		margin:10px 0px;
	}
	
	.main-header .btn-box{
		display:block;
	}
	
	.header-type-one .search-box-outer{
		left:0px;
		top:16px;
		right:auto;
		display:none;
	}
	
	.main-header .cart-btn{
		left:0px;
		top:16px;
		right:auto;
		margin-top:-8px;
	}
	
	.header-type-one  .header-upper .logo-outer,
	.page-title .bread-crumb,
	.page-title h1{
		text-align:center;
	}
	
	.main-header .header-top .donation-btn{
		float:none;
	}
	
	.services-section .services-title h2,
	.full-width-section-one .content-column .content-box h3,
	.counter-section .title-column h2,
	.full-width-section-two .testimonial-column .content-column .title h2,
	.testimonial-section .testimonial-title h2,
	.experts-section .sec-title h2,
	.gallery-single-section .project-info .title-column h3,
	.sidebar-page-container .group-title h2,
	.map-section .column h2{
		font-size:30px;
	}
	
	.sec-title h2,
	.services-page-title h2,
	.featured-post-two .inner-box .featured-content h2,
	.sec-title.medium h2{
		font-size:28px;
	}
	
	.counter-section .counter-column .message-box .theme-btn{
		margin-top:20px;
	}
	
	.news-style-one .inner-box .lower-content h3,
	.testimonial-style-two .inner-box .text,
	.gallery-block .inner-box .lower-box h3,
	.news-style-one .inner-box .lower-content .text blockquote{
		font-size:22px;
	}
	
	.main-header .search-form{
		margin:0 auto;
	}
	
	.page-title h1{
		font-size:42px;
		margin-bottom:0px;
	}
	
	.gallery-section .filters li{
		margin-right:15px;
	}
	
	.prod-tabs .reviews-container .review-box,
	.sidebar-page-container .comments-area .comment{
		padding-left:0px;
	}
	
	.prod-tabs .reviews-container .rev-thumb{
		position:relative;
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		top:0px;
	}
	
	.prod-tabs .reviews-container .rev-header .rating,
	.news-style-one .inner-box .lower-content .text blockquote{
		margin-left:0px;
	}
	
	.prod-tabs .reviews-container .rev-header h4{
		width:100%;
		margin-bottom:4px;
	}
	
	.price-section .price-title h2{
		font-size:32px;
	}
	
	.main-header .header-upper .upper-column.info-box{
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	.main-header .search-form{
		max-width:none;
		width:100%;
		margin:0px 0px 20px;	
	}
	
	.main-header .search-form .form-group{
		max-width:none;	
	}
	
}

@media only screen and (max-width: 599px){
	
	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		float:none !important;
		text-align:center;
	}
	
	.main-header .header-upper .upper-right{
		padding:0px 0px;	
	}
	
	.main-header .search-form .form-group input[type="text"],
	.main-header .search-form .form-group input[type="tel"],
	.main-header .search-form .form-group input[type="email"],
	.main-header .search-form .form-group textarea{
		width:230px;
	}
	
	.prod-tabs .tab-btns .tab-btn{
		margin-right:0px;
	}
	
	.sec-title .pull-right{
		width:100%;
	}
	
}

@media only screen and (max-width: 499px) {
	
	.header-type-one .header-top .top-right .social-icon-four,
	.header-type-one .header-top .donation-btn{
		width:100%;
	}
	
	.prod-tabs .tab-btns .tab-btn{
		width:100%;
		margin-bottom:10px;
		border-bottom:1px solid #f2f2f2;
	}
	
	.prod-tabs .tab-btns .tab-btn.active-btn:after{
		display:none;
	}
	
}